.videoPage {
  display: flex;
  margin: 0;
  pad: 0;
  height: 100%;
}

#videoContainer {
  display: flex;
  width: 100%;
  height: 100vh;
}

#divVideos,
#divInteraction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

video {
  width: 80%;
  margin-bottom: 0.625rem;
}

#divVideos {
  flex: 2;
  padding: 1.25rem;
}

#localVideo {
  background-color: black;
  /* width: 500px;
    height: 375px; */
  width: 25rem;
  height: 18.75rem;
  transform: scaleX(-1);
}

#remoteVideo {
  background-color: black;
  width: 25rem;
  height: 18.75rem;
  transform: scaleX(-1);
}

#divInteraction {
  flex: 8;
  background-color: rgb(34, 34, 34);
  padding: 1.25rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#divProgressBar {
  width: 100%;
  height: 10rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
}

#progressContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 75rem;
  position: relative;
  margin-top: 3.125rem;
  margin-bottom: 1.25rem;
}

#progressContainer::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0.625rem;
  right: 0.625rem;
  height: 0.625rem;
  background-color: #d3d3d3;
  z-index: 0;
  transform: translateY(-50%);
}

#progress {
  position: absolute;
  top: 50%;
  left: 0;
  height: 0.625rem;
  background-color: #316df4;
  z-index: 1;
  transform: translateY(-50%);
  transition: width 0.4s ease;
}

.progressCircle {
  width: 3.75rem;
  height: 3.75rem;
  background-color: #ffffff;
  border: 0.1875rem solid #316df4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.875rem;
  color: #ebf1fe;
  z-index: 2;
  position: relative;
  transition: background-color 0.4s ease, color 0.4s ease;
  cursor: pointer;
}

#progressButtons {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}

#divSharing {
  /* background-color: rgb(34, 34, 34); */
  width: 100%;
  height: 62.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.25rem;
  padding: 1.25rem;
}

#divRebalancing {
  width: 100%;
  height: 100%;
  flex: 1;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 0;
}

#comparisonContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#portfolioContainer,
#suggestionContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#portfolioContainer {
  margin-right: 0.625rem;
  margin-bottom: 0.625rem;
}

#suggestionContainer {
  margin-right: 0.625rem;
  margin-top: 0.625rem;
}

#suggestionsListContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: white;
  margin-left: 0.625rem;
}

#divIdVerification {
  display: flex;
  flex-direction: column;

  height: 100%;
  /* aspect-ratio: 4/3; */
  text-align: center;
  align-items: center;
}

#captureButton {
  /* width: fit-content; */
}

#capturedScreen {
  background-color: white;
  width: 50rem;
  height: 100%;
  border-radius: 1rem;
}

#divContract {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#canvasContainer {
  border: 0.0625rem solid black;
  overflow: auto;
  height: 37.5rem;
  scrollbar-width: 6.25rem;
}

#contractCanvas {
  display: block;
}
